<span>Recover you account</span>
<br>
<p>We can help you reset your password and security information.
  Please enter the email with which you subscribed.</p>
<br>
<mat-form-field class="w-100" appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>
<div class="text-align-right">
  <div class="mg-x-5 d-inline-block ">
    <button type="submit" class="u-btn mg-x-5 u-btn--cancel" [routerLink]="['/sso/login']">Cancel</button>
  </div>
  <div class="mg-x-5 d-inline-block ">
    <button type="submit" class="u-btn u-btn--blue-dark">Next</button>
  </div>
</div>